* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    background: repeating-linear-gradient(-75deg, #2158E6 0, #2158E6 50%, #002233 0, #002233 100%);
}

.main {
    display: flex;
    width: 50%;
    height: 100vh;
}

#logoTDA {
    width: 70%;
    height: 40%;
    margin: auto;
}

.login-sign {
    display: flex;
    width: 50%;
    height: 100vh;
}

.form-container {
    background-color: white;
    width: 50%;
    height: 50vh;
    margin: auto;
}

.form-users {
    display: flex;
    flex-direction: column;
}

.form-subDiv {
    display: flex;
    background-color: #2158E5;
    width: 80%;
    height: 7vh;
    margin: 12% auto 0% auto;
    border-radius: 3px;
}

.form-subDiv img {
    height: 4.5vh;
    margin: auto;
}

.form-subDiv input {
    width: 80%;
    margin: 1vh auto 1vh auto;
    padding: 2%;
    height: 5vh;
    border: none;
    border-radius: 8px;
    font-family: "Red Hat Display", sans-serif;
}

.button-form {
    display: flex;
    width: 40%;
    height: 5vh;
    margin: 10% auto 0 auto;
    background-color: #002233;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
    .button-form p {
        margin: auto;
        font-family: "Baloo Bhai 2", sans-serif;
        font-size: large;
        color: white;
    }

.form-users-p {
    font-family: "Baloo Bhai 2", sans-serif;
    font-size: small;
    margin: 5% auto auto auto;
}

.form-users span {
    font-weight: bold;
    cursor: pointer;
}

#form-sign {
    display: none;
}

#alertBox {
    display: none;
}

#loading-Screen {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
}
    #charging-Screen p {
        margin: auto;
        font-family: "Baloo Bhai 2", sans-serif;
        font-size: xx-large;
        color: white;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #loader {
        border: 2.5px solid #f3f3f3;
        border-radius: 50%;
        width: 10vh;
        height: 10vh;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translateX(-50%);
        background: conic-gradient(#2158E6 0deg, transparent 0deg);
        animation: fillLoader 5s linear infinite;
    }
    @keyframes fillLoader {
        0% {
            background: conic-gradient(#2158E6 0deg, transparent 0deg);
        }
        10% {
            background: conic-gradient(#2158E6 36deg, transparent 36deg);
        }
        20% {
            background: conic-gradient(#2158E6 72deg, transparent 72deg);
        }
        30% {
            background: conic-gradient(#2158E6 108deg, transparent 108deg);
        }
        40% {
            background: conic-gradient(#2158E6 144deg, transparent 144deg);
        }
        50% {
            background: conic-gradient(#2158E6 180deg, transparent 180deg);
        }
        60% {
            background: conic-gradient(#2158E6 216deg, transparent 216deg);
        }
        70% {
            background: conic-gradient(#2158E6 252deg, transparent 252deg);
        }
        80% {
            background: conic-gradient(#2158E6 288deg, transparent 288deg);
        }
        90% {
            background: conic-gradient(#2158E6 324deg, transparent 324deg);
        }
        100% {
            background: conic-gradient(#2158E6 360deg, transparent 360deg);
        }
    }