#advertisemenContainer {
    display: flex; /* TODO: DELETE - Default flex */
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
}
 #advertisement {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30%;
    height: 60vh;
    background-color: white;
    border-radius: 15px;
}
    #advertisementTitle {
        display: flex;
        margin: 0 auto auto auto;
        align-items: center;
        height: 10vh;
        width: 100%;
    }
    #advertisementTitle img {
        height: 90%;
        margin: auto 2.5% auto auto;
    }
    #advertisementTitle p {
        font-size: xxx-large;
        font-weight: bold;
        font-family: "Baloo Bhai 2", sans-serif;
        margin: auto auto auto 2.5%;
    }

