/* Responsive Design for Projects Grid */

@media screen and (max-width: 1024px) {
    #projectsSubContainer {
        grid-template-columns: auto auto !important;
        /* Tablet: 2 columns */
    }
}

@media screen and (max-width: 768px) {
    #projectsSubContainer {
        flex-direction: column;
        grid-template-columns: none !important;
        overflow-y: scroll;
        padding-bottom: 5vh;
    }

    .project {
        width: 90%;
        height: 15vh;
        margin: 2vh auto;
    }

    .projectTitle {
        font-size: medium;
    }
}