#workAreaContainer {
    display: none;
    /* Default: none | Optional: flex*/
    flex-direction: column;
}

#workAreaSubContainer {
    display: none;
    /* Default: none | Optional: flex*/
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.workAreaTop {
    display: flex;
    height: 20vh;
    width: 100%;
    background: linear-gradient(to bottom, #A4DFEF, #00C6FB);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-direction: column;
}

#workAreaTopReturnButton {
    margin: 1vh auto 3vh 1vh;
    cursor: pointer;
}

.workAreaTopProjectTitle {
    margin: auto;
    color: #000000;
    font-family: "Baloo Bhai 2", serif;
    font-size: xx-large;
}

#workAreaTopDeleteDiv {
    width: 15%;
    height: 4vh;
    display: flex;
    margin: auto 2vh 1.5vh auto;
    border-radius: 5px;
    background-color: #EB584E;
    cursor: pointer;
}

#workAreaTopDeleteDiv svg {
    margin: auto 2.5% auto auto;
}

#workAreaTopDeleteDiv p {
    margin: auto auto auto 2.5%;
    color: white;
    font-size: small;
    font-family: "Barlow", sans-serif;
}

.workAreaPercentaje {
    height: 5vh;
    display: flex;
    background-color: white;
}

.workAreaPercentajeSubDiv {
    display: flex;
    width: 30%;
    height: 4vh;
    margin: auto;
}

.workAreaPercentajeSubDiv p {
    display: flex;
    margin: auto 2.5% auto 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.percentajeTotal {
    height: 1vh;
    width: 80%;
    margin: auto 5% auto 2.5%;
    background-color: #a3a2a2;
    border-radius: 3px;
}

#percentajeVariable {
    height: 1vh;
    width: 0%;
    /* CHANGE BY PERCENTAJE */
    background-color: #67D980;
    border-radius: 3px;
}

.workAreaToDoList {
    height: 20vh;
    background-color: white;
}

.toDoListTop,
.documentationTop {
    height: 4vh;
    display: flex;
}

.projectTitles {
    font-weight: 500;
    font-size: large;
    font-family: "M PLUS 2", sans-serif;
    margin: auto auto auto 4vh;
}

.addTaskDiv {
    width: fit-content;
    padding: 0 1vh;
    height: 3vh;
    background-color: #67D980;
    display: flex;
    margin: auto 4vh auto auto;
    border-radius: 5px;
    cursor: pointer;
}

.addTaskDiv img {
    height: 2vh;
    margin: auto 2% auto auto;
}

.addTaskDiv p {
    color: white;
    margin: auto auto auto 2%;
    font-family: "Barlow", sans-serif;
    font-size: small;
    white-space: nowrap;
}

.toDoListContainer {
    height: 16vh;
    width: 94%;
    margin: auto;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: auto auto auto;
}

.toDoListContainer::-webkit-scrollbar {
    width: 0.75vh;
}

.toDoListContainer::-webkit-scrollbar-thumb {
    background: #a3a2a2;
    border-radius: 10px;
}

.toDoListContainer::-webkit-scrollbar-thumb:hover {
    background: #a3a2a2;
    cursor: pointer;
}

.toDoTask {
    margin: auto;
    display: flex;
    width: 80%;
    height: 4vh;
}

.toDoTask img {
    margin: auto 0.2vh auto 0.2vh;
    cursor: pointer;
    height: 3vh;
}

.task {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    font-size: small;
    border: none;
    outline: none;
}

.workAreaDescription {
    height: 30vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}



.documentation {
    width: 90%;
    height: 24vh;
    margin: 0% auto 2vh auto;
    border: none;
    outline: none;
    padding: 0.2vh;
    resize: none;
}